<!doctype html>
<html lang="en" >
<body >
<div data-th-fragment="scriptFragment" >

  <!-- jQuery library -->
  <script data-th-src="@{/webjars/jquery/3.5.1/jquery.slim.min.js}" ></script >
  <!-- Latest compiled JavaScript for bootstrap-->
  <script data-th-src="@{/webjars/popper.js/2.5.4/umd/popper.min.js}" ></script >
  <script data-th-src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}" ></script >
  <!-- fontawesome js -->
  <script data-th-src="@{/webjars/font-awesome/5.11.2/js/all.min.js}" ></script >
  <!-- pdf js -->
  <!--<script  data-th-src="@{/webjars/pdf-js/2.3.200/build/pdf.js}"></script>-->
  <!--<script  data-th-src="@{/webjars/pdf-js/2.3.200/build/pdf.worker.js}"></script>-->
  <!--<script  data-th-src="@{/webjars/pdf-js/2.3.200/web/viewer.js}"></script>-->
  <!--<script  data-th-src="@{/webjars/pdf-js/2.3.200/web/debugger.js}"></script>-->
  <!-- Chart js-->
  <script data-th-src="@{/webjars/chart.js/2.9.3/dist/Chart.min.js}" ></script >
  <script data-th-src="@{/webjars/chart.js/2.9.3/dist/Chart.bundle.min.js}" ></script >

  <!--To modify the alert-->
  <script data-th-src="@{/js/sweetalert.js}" ></script >
  <!-- data table -->
  <script data-th-src="@{/js/pagination.js}" ></script >
  <!--custom javascript-->
  <script data-th-src="@{/js/myJs.js}" ></script >

</div >
</body >
</html >




