<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
    <link th:href="@{/css/login.css}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--footer include-->

<div class="box">
    <img src="../img/avatar.png" class="avatar">
    <h2>Login</h2>
    <form th:action="${'/login'}" method="post">
        <div class="inputBox">
            <input type="text" id="username" th:name="${'username'}" class="form-control" placeholder=""
                   required>
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" id="inputPassword" th:name="${'password'}" class="form-control"
                   placeholder=""
                   required>
            <label>Password</label>
        </div>
        <input type="submit" name="submit" value="Submit"><br></br>

        <div class="container-fluid " th:if="${param.error}">
            <p class="bg-white text-capitalize text-danger text-lg-center">Invalid username or password. </p>
        </div>
        <div class="container-fluid ">
            <p id="errorMessage" th:text="${err}" class="bg-white text-capitalize text-danger text-lg-center"></p>
        </div>

    </form>
</div>


</body>
</html>