<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
    <link rel="stylesheet" data-th-href="@{/css/loginstyle.css}">
</head>

<body>
<div class="box">
    <img  data-th-src="@{'/img/avatar.png'}" class="avatar">
    <h2>Login</h2>
    <form th:action="${'/login'}" method="post">
        <div class="inputBox">
            <input type="text" name="username" id="username" th:name="${'username'}" required>
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" id="inputPassword" th:name="${'password'}" required>
            <label>Password</label>
        </div>
        <div style="margin-top:10px">
            <button id="btnLogin" class="col-md-12 btn btn-primary"><i class= "fa fa-key" style="margin-right: 10px;font-size: 18px"></i>Login</button>
        </div>

        <div class="container-fluid " th:if="${param.error}">
            <p class="bg-white text-capitalize text-danger text-lg-center">Invalid username or password. </p>
        </div>
        <div class="container-fluid ">
            <p id="errorMessage" th:text="${err}" class="bg-white text-capitalize text-danger text-lg-center"></p>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>

<script th:replace="~{fragments/script :: scriptFragment}"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
